body {
  background-color: $color__background-body;
  color: $color__text-main;
  font-family: $font__main;
  font-size: 16px;
  margin: 0;
}
a {
  text-decoration: underline;
  color: $color__link;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $color__link-hover;
  }
}
h1 {
  font-size: 1.75em;
  margin: 0.25em 0 0;
}
